 h2{
                
                text-align: center;
               }

               body{background-color: #818181;
                font-family: sans-serif;}

            h1{text-align: center;
                font-family: 'Times New Roman';
                font-weight: bold;}
            h2{
                font-family: Georgia;
                font-weight: bold;
            }
            #unidad{
                background-color: rgb(254, 201, 42);
            }
                
            #foto{
                text-align: center;
            }
            a:link,
                a:visited {
                color: rebeccapurple;
                font-weight: bold;
                }

                a:hover {
                color:rgb(54, 56, 227);
                background-color: antiquewhite;
                }   
                a:active{
                    color:rgb(87, 87, 87)
                }

                